@import url("./styles/header.css");
@import url("./styles/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;700&family=Kurale&display=swap");
@import url("./styles/backgroundCircles.css");
@import url("./styles/aboutSection.css");
@import url("./styles/knowMoreSection.css");
@import url("./styles/historySection.css");
@import url("./styles/mythsSection.css");
@import url("./styles/reviewsSection.css");
@import url("./styles/securitySection.css");
@import url("./styles/contactsSection.css");
@import url("./styles/footer.css");

body {
  margin: 0;
  font-family: "Kurale", sans-serif;
  background-color: #08011a;
  position: relative;
}
html {
  scroll-behavior: smooth;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 2px solid #ff00c8;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 4px;
  top: 4px;
  border: 2px solid #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #08011a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
